<h2>Ajouter une caméra</h2>

<form>
	<div class="form-group">
		<label for="name">Nom</label><br> 
		<input placeholder="Nom" ="text" class="form-control" name="name" id="name">
	</div>
	
	<div class="form-group">
		<label for="address">Adresse</label><br> 
		<input placeholder="Adresse" ="text" class="form-control" name="address" id="address">
	</div>
	<button type="submit" class="btn btn-default">Enregistrer</button>
</form>