<!DOCTYPE html>
<html ng-app="Thisapp">
<head>
<title><%=typeof title == 'undefined' ? 'VideoCam' : title%></title>

<!-- Viewport mobile tag for sensible mobile support -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">

<!--STYLES-->
<link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/videocam.css">
<!--STYLES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/jQuery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--SCRIPTS END-->

</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">VideoCam</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<% if (req.session.me) { %>
				<ul class="nav navbar-nav">
					<li><a href="/personalcameras">Mes caméras</a></li>
				</ul>
				<div class="nav navbar-nav navbar-right">
					<button type="button" class="btn btn-default navbar-btn">Se
						déconnecter</button>
				</div>
				<%} else { %>
				<div class="nav navbar-nav navbar-right">
					<button type="button" class="btn btn-default navbar-btn"
						data-toggle="modal" data-target="#connectionModal">Se
						connecter</button>
				</div>
				<% } %>
			</div>
		</div>
	</nav>

	<div class="container">
		<noscript>
			<p class="bg-danger">Pour utiliser ce site, il est nécessaire
				d'activer le javascript dans votre navigateur</p>
		</noscript>
		<%- body %>
	</div>

	<% if (!req.user) { %>
	<div class="modal fade" tabindex="-1" role="dialog"
		id="connectionModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Se connecter</h4>
				</div>
				<form id="loginForm" method="post" action="/auth/signin">
					<div class="modal-body">
						<div id="errorMsg" class="alert alert-danger collapse" role="alert">
							<p>Impossible de vous identifier vérifiez le mot de passe / login</p>
						</div>
						<div class="form-group">
							<label for="identifier">Adresse email/Pseudo</label> <input
								type="email" class="form-control" id="identifier"
								placeholder="Email" name="identifier" required="required">
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label> <input type="password"
								class="form-control" id="password" placeholder="Mot de passe"
								name="password" required="required">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
						<a type="button" class="btn btn-warning" href="/signup">Inscription</a>
						<button class="btn btn-primary" type="submit">Connexion</button>
					</div>
				</form>
			</div>
		</div>
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		$('#loginForm').on('submit', function(e) {
			$("#errorMsg").hide();
			e.preventDefault();
			$.ajax(	{
				url : $(this).attr('action'),
				type : $(this).attr('method'),
				data : $(this).serialize(),
				dataType: 'json',
				success: function(json) {
					location.reload();
				},
				error : function(jqXHR, textStatus, errorThrown) {
					if (jqXHR.status == 401)
						$("#errorMsg").show();
					else
						alert("Une erreur interne est survenue pendant la tentative de connexion. Veuillez réessayer ultérieurement");	
				}
			});
		});
	});
	</script>

	<% } %>
	<!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

	<!--TEMPLATES-->
	
	<!--TEMPLATES END-->

</body>
</html>
