<h2>Mes caméras</h2>

<table class="table table-hover">
	<tr>
		<th>Nom</th>
		<th>Propriétaire</th>
		<th>Adresse</th>
	</tr>
	<tr>
		<td>Camera 1</td>
		<td>kjgrnhjre</td>
		<td>grjhbe</td>
	</tr>
</table>