<h2>Mes caméras</h2>

<table class="table table-hover" id="tableCamera">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Propriétaire</th>
			<th>Adresse</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i < cameras.length; i++) {%>
		<tr>
			<td><%= cameras[i].name %></td>
			<td><%= cameras[i].owner %></td>
			<td><%= cameras[i].name %></td>
			<td><button>Valider</button></td>
		</tr>
		<% } %>
	</tbody>
</table>