<h2>Mes caméras</h2>
<div ng-controller="cameraTable" >
	<table class="table table-hover" id="tableCamera">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Propriétaire</th>
				<th>Adresse</th>
				<th>Angle actuel</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="camera in cameras">
				<td>{{camera.name}}</td>
				<td>{{camera.owner}}</td>
				<td>{{camera.adress}}</td>
				<td>{{camera.angle}}</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
angular.module('Thisapp', [])
.controller('cameraTable', ['$scope','$http', function($scope,$http) {
	var socket=io.connect('http://localhost:1337');
	$scope.cameras=[];
	$http.post("http://localhost:1337/api/myCams").then(function(res){
		console.log(res);
		$scope.cameras=res.data;
		console.log(cameras);
	});
	socket.on('rights',function(data){
		
		$http.get("http://localhost:1337/api/myCams").then(function(res){
			$scope.cameras=res.data;
			console.log(res.data);
		});
		})
	socket.on('camera',function(data){
		
		$http.post("http://localhost:1337/api/myCams").then(function(res){
			$scope.cameras=res.data;
			console.log(res.data);
		});
		

	})
}]);



</script>
