<h1>Inscription</h1>

<form>
	<div class="form-group">
		<label for="username">Nom D'utilisateur* :</label> <Input type="string" class="form-control" id="username">
		<label for="email">Adresse E-mail* :</label> <Input type="email" class="form-control" id="email">
		<label for="password1">Mot de passe* :</label> <Input type="string" class="form-control" id="password1">
		<label for="password2">Répéter le mot de passe* :</label> <Input type="string" class="form-control" id="password2">
		<label for="firstName">Prénom :</label> <Input type="string" class="form-control" id="firstName">
		<label for="lastName">Nom :</label> <Input type="string" class="form-control" id="lastName">
	</div>
</form>