<h1>Gestion des droits sur la caméra</h1>

<form>
	<div class="form-group">
		<label for="email">Adresse Email :</label> <input type="email"
			class="form-control" id="email" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="right">Permissions :</label>
		<div class="checkbox" id="right">
			<label> <input type="checkbox" value="1" checked="checked">
				Regarder la caméra
			</label>
		</div>
		<div class="checkbox">
			<label> <input type="checkbox" value="2" checked="checked">
				Controler les mouvements de la caméra
			</label>
		</div>
		<div class="checkbox">
			<label> <input type="checkbox" value="4" checked="checked">
				Allumer/Eteindre la caméra
			</label>
		</div>
	</div>
</form>
